*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
  height: 200vh;
  width: 100%;
  background-color: #F3FBFF;
  padding-top: 55px;
}
body::-webkit-scrollbar{
    display: none;
}
.center{
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
.center iframe{
margin-left: 5%;

}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    max-height:80px;
   /* background-color: #0091ff;*/
    /*background-color:rgb(0, 85, 255);
    background: linear-gradient(75deg, #0080ff, rgb(0, 166, 255 , 1),rgb(0, 42, 255 , 1),rgb(0, 153, 255 , 1));
    background-color: #0080ff;*/
    color: white;
    /*background: linear-gradient(145deg,rgb(13, 0, 255),#006aff,rgb(0, 128, 255));*/
    background-color: rgb(0, 149, 255);
    background-size: 200% 200%;
    justify-content: space-between;
    display: flex;
    animation: color 10s ease-in-out infinite;
    /*border-bottom: 3px solid black;*/
    border-bottom: 2px solid rgb(0, 0, 0) ;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.logo{
    background-color: #000000;
    /*background:linear-gradient(45deg, rgb(204, 0, 255),rgb(0, 157, 255), rgb(111, 0, 255));*/
    width: 220px;
    height: 40px;
    text-align: center;
    border-radius: 25px;
    border: 3px solid rgb(255, 255, 255);
    margin:auto;
    color: rgb(0, 213, 255);
    font-size: 12px;
    text-align: center;

    /*box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;*/
    
}
.logo h1{
    margin-top: 4px;
    font-size: 20px;
}
/*.logo h1{
    background: -webkit-linear-gradient(70deg, rgb(0, 157, 255) 20%, #006aff , #00b7ff,rgb(0, 166, 255), rgb(38, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/
.icon{
    width: 50px;
    margin: 1%;
    height: 50px;
    text-align: center; 
    background-color: none;
    justify-content: center;
    cursor: pointer;
    /*box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;*/
}
.icon button{
    width: 50px;
    height: 50px;
    background: none;
    outline: none;
    border: none;
    text-align: center; 
    justify-content: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    /*border: 3px solid rgb(255, 255, 255);
    border-radius: 50px;*/
}
.profile{
    width: 50px;
    height: 50px;
    margin: 1%;
    background-color: none;
    text-align: center; 
    justify-content: center;
    /*box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;*/
}
.profile button{
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 50px;
    background-color: none;
    outline: none;
    border: none;
    /*border: 3px solid rgb(255, 255, 255);*/
    text-align: center; 
    justify-content: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
   /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;*/
}
.profile button img{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: 3px solid rgb(255, 255, 255);
}
footer{
    position: fixed;
    display: flex;
    bottom: 0px;
    width: 100%;
    height: 55px;
    border-top: 2px solid black;
    max-height:80px;
    /*background-color: #0091ff;*/
    background-color: black;
    background-color: rgb(0, 149, 255);
    background-size: 200% 200%;
   /* background: linear-gradient(145deg,rgb(13, 0, 255),#006aff,rgb(0, 128, 255));*/
    /*background-color:rgb(0, 85, 255);
    background: linear-gradient(75deg, #0080ff, rgb(0, 166, 255 , 1),rgb(0, 42, 255 , 1),rgb(0, 153, 255 , 1));
    background-color: #0080ff;*/
    color: white;
    background-size: 200% 200%;
    justify-content: space-between;
    /*animation: color 10s ease-in-out infinite;*/
}
.icon2{
    width: 50px;
    margin: 1%;
    height: 50px;
    background-color: none;
    text-align: center; 
    justify-content: center;
    border-radius: 10px;
}
.icon2 button {
    width: 45px;
    height: 45px;
    background: none;
    outline: none;
    border: none;
    border-radius: 10px;
    text-align: center; 
    justify-content: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    /*border: 3px solid rgb(255, 255, 255);
    border-radius: 50px;*/
}
.icon2 a{
    color: white;
    font-size: 30px;
}
.icon2 .active{
    /*background: -webkit-linear-gradient(135deg, #006aff, #d400ff);*/
    background: rgb(0, 213, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
}
.icon2 .active2{
    background-color: rgb(4, 4, 4);
    border: 3px solid white;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  }
#myNav{
    height: 0%;
  }
  .overlay {
    width: 100%;
    position: fixed;
    height: 0;
    z-index: 1;
    bottom: 0;
    color: white;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    border-radius:25px 25px 0 0 ;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #ffffff;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }




  .modal{
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* Location of the box */
  left: 0;
  justify-content: center;
  top: 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
  background-color: rgba(148, 148, 148, 0.8); /* Black w/ opacity */
  }

  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration:0.5s;
    animation-iteration-count: 1; /* stop at the last keyframe */
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  .modal-content{
    border: 5px solid rgb(0, 170, 255);
    background-color: hsl(0, 0%, 100%);
    /*background: linear-gradient(125deg, blue, rgb(0, 119, 255), rgb(0, 187, 255), rgb(0, 136, 255));*/
    height: 70%;
    width: 94%;
    margin: auto;
    border-radius: 20px;
    top: 100px;
    margin-left: 3%;
    position: absolute;
    background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
  }
  .modal-main{
    /*background: linear-gradient(125deg, blue, rgb(0, 119, 255), rgb(0, 110, 255), rgb(0, 30, 255));*/
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    justify-content: center;
    align-items: center;
    border: none;
    background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
  }
  hr{
   height: 4px;
   margin-top: 10px;
   background-color: rgb(0, 0, 0);
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .close{
    position: absolute; 
    right: 10px;
    top:-90px;
    color: rgb(0, 0, 0);
  }
  .close button{
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: none;
    font-size: 25px;
    background: none; 
  }
  .profile-mod{
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content:space-evenly;
  border: 3px solid rgb(0, 170, 255);
  transition: all 0.2s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  }
  .profile-mod:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }
.profile-mod img{
  width: 55px;
  height: 58px;
  border-radius: 10px;
  margin:  auto 0px;
  border: 3px solid rgb(0, 170, 255);
  object-fit: cover;
  object-position: center;
}
.name{
  width: 75%;
  height: 58px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  background:linear-gradient(135deg, blue, rgb(0, 191, 255));
  margin:  auto 0;
  color: rgb(255, 255, 255);
  padding: 5px;
}
.name h1{
  font-size: 20px;
  margin: auto 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.name h3{
  font-size: 17px;
  color: rgb(0, 225, 255);
  margin: auto 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  font-weight: 700;
  text-decoration: underline;
}
.name h1:hover{
  text-decoration: underline;
  cursor: pointer;
}
.name h3:hover{
cursor: pointer;
}
.name h1::-webkit-scrollbar{
  display: none;
}
.name h3::-webkit-scrollbar{
display: none;
}

.name::-webkit-scrollbar{
  display: none;
}
.star-back{
  display: none;
  width: 35px;
  height: 35px;
  background-color: rgb(0, 170, 255);
  margin: auto 0;
  border-radius: 5px;
  color: white;
  text-align: center;
  justify-content: center;
  border: 3px solid black;
}
.star{
  width: 30px;
  height: 30px;
  background-color: rgb(0, 81, 255);
  margin-left: 2px;
  margin-top: 5px;
  border-radius: 50px;
  color: white;
  text-align: center;
}
.star h1{
  font-size: 20px;  
}
.sep{
  width: 100%;
  border: 2px solid rgb(0, 170, 255);
  height: 1px;
  margin-top: 0px;
}
.title{
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}


















/* styles.css */
.tab {
  margin-top: 10px;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
}
.tablinks{
  background: rgb(0, 0, 0);
}
.tab button {
  font-size: 17px;
  background-color: none;
  color: rgb(0, 170, 255);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin: 0px 2px 3px;
}
.active{
  background-color: white;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ff0000;
  border-top: none;
  background-color: black;
  color: white;
  border-radius:0 0 15px 15px;
  border: 3px solid rgb(0, 170, 255);
  height: auto;
} 
